$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  margin: 0% 5%;
}

// .wrapper {
//   display: flex;
//   background-color: pink;
//   flex-direction: column;
// }

.main-game {
  // background-color: yellow;
  padding: 30px;
}

.header {
  // background-color: red;
  padding: 20px;
  box-sizing: border-box;
  // margin-top: 10px;
  display: flex;
  justify-content: center;
}

// h1 {
//   text-align: center;
// }

.main-game {
  display: block;
  text-align: center;
}

.form {
  margin: 0 auto;
}

input[type=text] {
  padding: 20px;
  box-sizing: border-box;
  margin: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 2.5em;
}

.main-game {
  display: none;
}
// to toggle display later

.login {
  display: block;
  text-align: center;
}

// input[type=text].login {
//   padding: 5px;
//   box-sizing: border-box;
//   margin: 5px;
//   border-radius: 3px;
//   border: 1px solid #ccc;
//   // cursor: pointer;
//   font-size: 1.5em;
// }

.scoreboard {
  display: none;
  justify-content: center;
  text-align: center;
  // background: pink;
}

.scoreboard > h4 {
  margin: 20px 10px 0 20px;
  // background: orange;
}


legend {
  margin-top: 10px;
  margin-bottom: 30px;
}

#email-login {
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 1em;
}

#pw-login {
  padding: 5px;
  font-size: 1em;
  display: inline;
  margin-bottom: 20px;
}

#email-register {
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 1em;
}

#pwconf-register {
  padding: 5px;
  font-size: 1em;
  display: inline;
  margin-bottom: 20px;
}

#pw-register {
  padding: 5px;
  font-size: 1em;
  display: inline;
  margin-bottom: 20px;
}

#login {
margin-bottom: 20px;
}

#register {
margin-bottom: 20px;
}

// .game-portal {
//   display: none;
//   text-align: center;
// }

#resetButton {
  margin-top: 20px;
  margin-bottom: 10px;
}

.changepw {
  display: inline;
  text-align: center;
  // margin: 20px;
}

#pw-change {
  display: inline;
  margin: 10px;
  padding: 5px;
  font-size: 1em;
}

#pw-change-conf {
  display: inline;
  margin: 10px;
  padding: 5px;
  font-size: 1em;
}

#pw-change-submit {
  margin: 10px;
}

button {
    background-color: #e51f32; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    // font-size: 16px;
}

#logoutbutton {
  background-color: black;
}

#logoutform {
  display: inline;
}

#logout-message {
  margin: 30px;
  display: block;
  text-align: center;
}
