$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  margin: 0% 5%;
}

// .wrapper {
//   display: flex;
//   background-color: pink;
//   flex-direction: column;
// }

.main-game {
  background-color: yellow;
  padding: 30px;
}

.header {
  // background-color: red;
  padding: 30px;
  box-sizing: border-box;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

// h1 {
//   text-align: center;
// }

.main-game {
  display: block;
  text-align: center;
}

.form {
  margin: 0 auto;
}

input[type=text] {
  padding: 20px;
  box-sizing: border-box;
  margin: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 2.5em;
}

.main-game {
  display: none;
}
// to toggle display later

.login {
  display: block;
  text-align: center;
}

.scoreboard {
  display: none;
  justify-content: center;
  text-align: center;
  background: pink;
}

.scoreboard > h4 {
  margin: 20px 10px 0 20px;
  background: orange;
}


legend {
  margin-top: 10px;
  margin-bottom: 30px;
}

#email-login {
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 1.5em;
}

#pw-login {
  padding: 15px;
  font-size: 1.5em;
  display: inline;
  margin-bottom: 20px;
}

#email-register {
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 1.5em;
}

#pwconf-register {
  padding: 15px;
  font-size: 1.5em;
  display: inline;
  margin-bottom: 20px;
}

#pw-register {
  padding: 15px;
  font-size: 1.5em;
  display: inline;
  margin-bottom: 20px;
}

#login {
margin-bottom: 20px;
}

#register {
margin-bottom: 20px;
}

.game-portal {
  display: none;
  text-align: center;
}

.changepw {
  display: block;
  text-align: center;
  margin: 20px;
}
